<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div id="pageHeader">



      <h1> Tweets from people you follow </h1>
      <h4 id="allUsers"><%= link_to "Other Users", users_path %></h4>

    </div>

    <div class="row">

      <div class="pageBody">

        <div id="followingTweets">

          <% if !@allTweets.blank? %>
           <% @allTweets.each do |tweet| %> 
           <div id="followingTweet">
              <%= render tweet %>
           <% end %>

          <% else %>
            <h3>You don't seem to be following anyone!</h3>
          <% end %>

            </div>
        </div>

      </div>

    </div>

</div>
